@import url(style.css);
body {
  overflow: scroll;
  overflow-x: hidden;
}
.regles {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 0% 100% 0% 100% / 86% 15% 85% 14%;
  background-color: #d4a25f;
  max-height: 600px;
  font-size: 20px;
  padding: 5%;
  gap: 20px;
}
p {
  font-size: 30px;
}
